Django==2.1.3
google-cloud-language
google-cloud-speech
google-cloud-translate
djangorestframework
SpeechRecognition
google-api-python-client
httplib2
oauth2client
pyasn1
pyasn1-modules
rsa
six
uritemplate
pydub
pandas
xlrd
sklearn
deepspeech==0.4.1
jiwer
lang-trans
deepspeech
jiwer