Django
google
google-cloud-language
google-cloud-speech
google-cloud-translate
google-cloud-storage
djangorestframework
SpeechRecognition
google-api-python-client
httplib2
oauth2client
pyasn1
pyasn1-modules
rsa
six
uritemplate
pydub
pandas
xlrd
sklearn
jiwer
lang-trans
deepspeech
jiwer
azure-cognitiveservices-speech
watson-developer-cloud
requests
tensorflow
boto3
